@model Ehpad.ORM.Vacciner

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Injections</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecallDate)
        </dt>
        
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecallDate)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchNumber)
        </dt>
        
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchNumber)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.Firstname)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vaccine)
        </dt>
        
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vaccine.Brand)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back</a>
    
</div>
