@model IEnumerable<Ehpad.ORM.Person>

@{
    ViewData["Title"] = "List of unvaccinated persons";
}

<div class="card">
    <div class="card-header text-center">
        <h1>List of unvaccinated persons in COVID</h1>
    </div>
    <div class="card-body">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Firstname)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Lastname)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.BirthDate)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.PersonType)
                    </th>

                    <th></th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    //IF no COVID vaccination, show the person
                    @if (item.Vaccinates.Count(vaccinate => vaccinate.Vaccine.VaccineType.Label == "Covid") == 0)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Firstname)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Lastname)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.BirthDate)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.PersonType.Label)
                            </td>

                            <td>
                                <a asp-controller="Vacciner" asp-action="Personne" asp-route-id="@item.Id">Injections</a>
                            </td>

                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>
</div>
